<h3>Notes</h3>

<div>
  If rails is missing from path use: 
</div>
<pre>
source /home/delasthanos/.rvm/scripts/rvm
</pre>

<hr />

<div>
  To install rails without docs (runs slow) use: 
</div>
<pre>
gem install rails --no-ri --no-rdoc
 - or
gem install rails --no-document # or -N in short
</pre>