<h3>Notes</h3>

<div>
  If rails is missing from path use: 
</div>
<pre>
source /home/delasthanos/.rvm/scripts/rvm
</pre>

<hr />

<div>
  To install rails without docs (runs slow) use: 
</div>
<pre>
gem install rails --no-ri --no-rdoc
 - or
gem install rails --no-document # or -N in short
</pre>

<hr />

<pre>
	Sometimes you have to restart rails server for changes to take effect.
	eg.:
	After created a new helper module and test it's output in view, 
	changing module method to accept arguments was raising invalid arguments error,
	but was working after server restart.
	Find out why this happens. Is it a bug or the excpected behaviour?
</pre>

<h3>Database</h3>

Change postgreSQL to MySQL
<pre>
rails db:system:change --to=mysql
sudo apt-get install libmysqlclient-dev
bundle isntall
</pre>

<hr />

Migrate Database
<pre>rails db:migrate</pre>

<hr />

All data will be lost using the following:

This will reset your database and reload your current schema with all:
<pre>rake db:reset db:migrate</pre>

This will destroy your db and then create it and then migrate your current schema:
<pre>rake db:drop db:create db:migrate</pre>

<hr />

Generate model and mihration from command line: 
<pre>rails generate model Product name:string</pre>
<pre>rails generate migration AddPriceToProducts price:decimal</pre>

<h3>Debug</h3>

You can output html directly from a controller using:

<pre>
output = []
output.append("Parse categories")
return render inline: output.join("&lt;br /&gt;")
</pre>

<h3>Ruby</h3>

To deep copy an  object use:
<pre>
Marshal.load(Marshal.dump(@object))
</pre>

To convert an object or hash to json use:
<pre>object_json = @object.as_json</pre>

To load json from a file use:
<pre>
require 'json'
file = File.read('./path-tofile/file.json')
file_hash = JSON.parse(file)
</pre>

