<h2>Users</h2>

<a href="<%= new_user_path%>" class="btn btn-sm btn-success my-2">Create User</a>
<a href="<%= generate_users_path%>" class="btn btn-sm btn-warning my-2">Generate Dummy Users</a>

<div class="listing">
	<ul>
		<% @auth_users.each do |auth_user| %>
		  <li>
		    <%= auth_user.email%>
		    <a href="<%= edit_auth_user_path(auth_user) %>" class="crud-action">Edit</a>
		  </li>
	  <% end %>
	</ul>
</div>

