<h3>Ruby On Rails Development App</h3>
<small><%= @domain %></small>

<pre>
[*] Notes

- This is a ruby on rails application for learning, testing & development
- It is meant to be used as a reference for various conventions and configuration
- Built using Rails 6.0.3.4
- Configured with mysql
</pre>
